body {
    display: flex;
	align-content: center;
	flex-direction: column;
	overflow-x: hidden;
	min-height: 100vh;
	position: relative;
}

.navbar {
    font-weight: bold;
    width: 100%;
    position:sticky;
    top:0;
    background-color: green;
}