body {
    display: flex;
	align-content: center;
	flex-direction: column;
	overflow-x: hidden;
	min-height: 100vh;
	position: relative;
    background-color: cornflowerblue;
}

.navbar {
    width: 100%;
    position:sticky;
    top:0;
    background-color: green;
}

#display{
    align-content: center;
    margin-top: 200px;
}

footer{
    text-align: center;
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}
h8{
    color: white;
}